gTTS==2.5.1
huggingface-hub==0.21.1
langchain==0.1.9
langchain-community==0.0.24
langchain-core==0.1.27
python-dotenv==1.0.1
streamlit==1.31.1
streamlit-float==0.3.2
tokenizers==0.15.2
transformers==4.38.1
